.body-container{
    margin: o;
    display: flex;
    border-top: 5px solid #dcdcdc;
}
.product-container{
    width: 70%;
    border-right: 1px solid lightgray;
    margin-left: 5px;
    margin-bottom: 5px;
    background-color:#606060;
}
.cart-container{
    text-align: center;
    margin: 10px;
}